main > .container {
    padding: 60px 15px 0;
  }
  
  .tags{
    max-width: 100px;
    font-size: 25px;
    gap: 10px;
  }
  
  
  
  .best-members-section{
    margin-top: 20px;
  }
  
 
  .login-form{
    margin-top: 25px;
  }