<footer class="footer mt-auto py-3 bg-body-tertiary">
    <div class="container">
        <span class="text-body-secondary">
            <nav aria-label="Page navigation example">
                <ul class="pagination">
                    {% if questions.has_previous %}
                        <li class="page-item"><a class="page-link" href="?page=1">First</a></li>
                        <li class="page-item"><a class="page-link" href="?page={{ questions.previous_page_number }}">Previous</a></li>
                    {% endif %}

                    {% for i in questions.paginator.page_range %}
                        <li class="page-item{% if questions.number == i %} active{% endif %}">
                            <a class="page-link" href="?page={{ i }}">{{ i }}</a>
                        </li>
                    {% endfor %}

                    {% if questions.has_next %}
                        <li class="page-item"><a class="page-link" href="?page={{ questions.next_page_number }}">Next</a></li>
                        <li class="page-item"><a class="page-link" href="?page={{ questions.paginator.num_pages }}">Last</a></li>
                    {% endif %}
                </ul>
            </nav>
        </span>
    </div>
</footer>
